:root {
    --wrapper-color: #E1D5E7;
    --header-color: #FFBD7A;
    --footer-color: #FFBD7A;
    --line-color: #6699FF;
    --contact-color: #0FFFF0;
    --font-color: #000000;
    --about-color: #F5F5F5;
    --projects-color: #E5CCFF;
    --project-color: #FFE6CC;
}